<form [formGroup]="form" >
    <div>
        <label for="name">Name</label>
            <input 
            type="text" 
            id="name"
            formControlName="name"
            />
        <div *ngIf="form.get('name').invalid">something wrong</div>
    </div>

    <div>
        <label for="phone">Phone</label>
            <input 
            type="text" 
            id="phone"
            formControlName="phone"
            />
    </div>

    <div>
        <label for="email">Email</label>
            <input 
            type="text" 
            id="email"
            formControlName="email"
            />
    </div>

    <button>Submit</button>
</form>