<form [formGroup]="form" >
    <div>
        <label for="name">Name</label>
            <input 
            type="text" 
            id="name"
            formControlName="name"
            />
        <div *ngIf="name.touched && name.invalid" >
            <div *ngIf="name.errors.required">The name field cannot be empty.</div>
            <div *ngIf="name.errors.minlength">The name requires {{ name.errors.minlength.requiredLength }} letters or above.</div>
        </div>
    </div>

    <div>
        <label for="phone">Phone</label>
            <input 
            type="text" 
            id="phone"
            formControlName="phone"
            />
    </div>

    <div>
        <label for="email">Email</label>
            <input 
            type="text" 
            id="email"
            formControlName="email"
            />
    </div>

    <button>Submit</button>
</form>